*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

button {
  font-family: inherit;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
